<header class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "toy app", "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-link active"><%= link_to "Home", "#" %></li>
        <li class="nav-link active"><%= link_to "Help", "#" %></li>
        <li class="nav-link active"><%= link_to "Log In", "#" %></li>
      </ul>
    </nav>
  </div>
</header>